<div id="listadrink">
    <app-navbar  [active]="active" (onActiveChange)="setactive($event)">
    </app-navbar>

    <!--
    <app-descrizione>
    </app-descrizione>
    -->

    <app-bacheca [active]="active"  [drinkc]="loaddrink.drinkc" (onViewDrink)="viewdrink($event)">
    </app-bacheca>

     <!--
    <app-footer>
    </app-footer>
       -->
</div>


<app-viewdrink  id="viewdrink"  [active]="isviewdrink" [drinks]="loaddrink.drinks" [drinksdata]="loaddrink.drinksdata"  (bckhome)="listdrink()" [iddrink]="viewingdrink">
</app-viewdrink>



